head
	meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

.background
.ab_position_out
	.clock
		input#input(type="text" style="ime-mode:disabled" onkeyup="return ValidateNumber(this,value)" pattern="\d*" maxlength="4" placeholder="請輸入四位數字(不給輸入其他的)")
		.ab_position
			.number
				.top
				.center
				.bottom
				.left1
				.left2
				.right1
				.right2
		.ab_position2
			.number
				.top
				.center
				.bottom
				.left1
				.left2
				.right1
				.right2
		.ab_position3
			.number
				.top
				.center
				.bottom
				.left1
				.left2
				.right1
				.right2
		.ab_position4
			.number
				.top
				.center
				.bottom
				.left1
				.left2
				.right1
				.right2
				
		p By Sasuke
		
	input#mainColor(type="color" name="mainColor" value="#FFC0CB")